
@media screen and (min-width: 200px) and (max-width: 500px){
  .sm-none{
    display: none !important;
  }
  .sm-block{
    display: block !important;
  }
  .menu-bar .fa-bars{
    font-size: 1.5rem;
    color: var(--white); 
    cursor: pointer;
  }

  .container{
    width: 90%;
    margin: 0 auto;
  }
  header .top{
    padding:0 5%;
  }
  header .top h3{
    font-size: .7rem;
    font-weight: 600;
    margin: 0;
    margin-left: 1rem;
  }
  nav .right-side{
    display: none;
  }

/* Hero Section Starts */
#hero{
  flex-direction: column;
}
#hero .left-side{   
  margin: 4rem 0;
}
#hero .left-side .job-post-count h3{
  font-size: .8rem;
}
#hero .left-side .job-post-count i{
  font-size: .8rem;
}
#hero .left-side h1{
  font-size: 3.5rem;
  line-height: 3.5rem;
}
#hero .left-side h1 span{
  color: #ffffff8c;
}
#hero .left-side p{
  font-size: 1rem;
}
#hero .left-side .buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}
#hero .left-side .buttons .btn{
margin: 0;
}   


/* Rightside Starts */
#hero .right-side{
  margin-top: 2rem;
}
#hero .right-side .bg{
  bottom: -10%;
}
#hero .right-side .bg img{
  width: 25rem;
}
#hero .right-side img{
  width: 100%;
}
#hero .right-top{
  display: none;
}
#hero{
  position: relative;
}
.welcome-msg{
  position: absolute;
  right: 0;
  bottom: 1%;
  padding: 1rem .7rem;
  gap: .7rem;
}
/* Hero End */


/* Title for All */
.title{
  width: 100%;
  margin: 3rem auto;
}
.title .ready-services h3{
  font-size: .8rem;
}
.title .ready-services i{
  font-size: .8rem;
}
.title h2{
  font-size: 2.5rem;
}
.title p{
  width: 80%;
  font-size: 1rem;
}
/* Title End */

/* How does it work Section Starts */
#how-does-it-work{
  margin: 6rem 0;
  position: relative;
}
#how-does-it-work .contents{
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 2rem;
}

/* Top Category Section Starts */
#top-category .categories{
  gap: 1rem;
}
#top-category .categories .item{
  gap: .5rem;
  padding: .7rem 1.2rem;
}

#top-category .categories .item h3{
  font-size: 1rem;
}
#top-category .categories .item i{
  font-size: 1rem;
}

/* Tradespeople Section Starts */
#tradespeople .big-section{
  flex-direction: column;
}
#tradespeople .big-section .left-side{
  padding-right: 0;
}
#tradespeople .big-section .left-side .top-title h3{
  font-size: 2.5rem;
  line-height: 3rem;
}
#tradespeople .big-section .left-side .top-title p{
  font-size: 1rem;
}

#tradespeople .big-section .right-side{
  padding: 4rem;
  overflow: hidden;
}

#tradespeople .big-section .right-side .img .img .bg img{
  position: absolute;
  top: 20%;
  right: 0%;
  width: 100%;
}
#tradespeople .big-section .right-side .img :nth-child(2){
  position: relative;
  width: 150%;
  bottom: 2rem;
  left: -5rem;
}
#tradespeople .big-section .right-side .shadow{
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: 9;
  width: 100%;
}
.right-side .traders{
  bottom: 5%;
  left: 0;
  gap: .5rem;
  padding: 1rem;
  z-index: 10;
}
.right-side .traders .stars{
  margin-bottom: 0;
}

.right-side .traders .user .details h3{
  font-size: .9rem;
}
.right-side .traders h3{
  font-size: .9rem;
}
.right-side .traders .job h4{
  font-size: .9rem;
  padding: .5rem;
}
.right-side .traders .job h4 i{
  font-size: .8rem;
}


#tradespeople .middle-section{
  grid-template-columns: repeat(1, 1fr);
}
#tradespeople .middle-section .item-4{
  grid-column: 1 / -1;
}

#tradespeople .middle-section .item-4{
  height: auto;
  padding: 2rem;
  background-size: 150%;
}
#tradespeople .middle-section .item-4 h2{
  font-size: 1.8rem;
}
#tradespeople .middle-section .item-4 p{
  font-size: 1rem;
}
#tradespeople .middle-section .item-4 p a{
  font-weight: 700;
}

#tradespeople .middle-section img{
  width: 25vw;
}
#tradespeople .middle-section .item-5{
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
  background-image: linear-gradient( var(--primary), var(--primary), #00000000), url(../images/girl-working.png);
  padding: 3rem;
}
#tradespeople .middle-section .item-5 h2{
  margin-top: 3rem;
  color: var(--white);
}
#tradespeople .middle-section .item-5 p{
  color: var(--white);
}
}