/* Font Linking */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  outline: none;
  border: none;
}
/* Color Root */
:root{
  --primary: #0574D6;
  --primary-dark: #023561;
  --white: #FFFFFF;
  --text: #202020;
  --linear: linear-gradient( #fff, #eeeeee);
}
/* For Responsive Only */
.sm-block{
  display: none;
}

.container{
  width: 75%;
  margin: 0 auto;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
button.btn{
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background: var(--primary-dark);
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  transition: all .3s ease;
  cursor: pointer;
}
button.btn i{
  margin-right: .5rem;
}

/* Header Top Css Start */
header{
  background: var(--primary);
  width: 100%;
  min-height: 80vh;
}
header .top{
  height: 3rem;
  width: 100%;
  padding: 0 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-dark);
}
header .top .fa-circle-info{
  color: var(--white);
}
header .top h3{
  font-size: .8rem;
  font-weight: 700;
  color: var(--white);
  margin: 0 1rem;
}
header .top img{
  width: 5.5rem;
  margin-right: .3rem;
}
header .top .fa-xmark{
  color: var(--white);
  margin-left: 2rem;
  cursor: pointer;
}
/*Top End */

/* Nav CSS Starts */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
nav .logo img{
  width: 8rem ;
}
nav .right-side{
  display: flex;
}
nav .right-side ul{
  display: flex;
}
nav .right-side ul li{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
nav .right-side ul li a{
  font-weight: 600;
  color: var(--white);
}
nav .right-side ul li i{
  font-size: .9rem;
  margin-left: .54rem;
}
nav .right-side .log-in{
  align-items: center;
}
nav .right-side .log-in i{
  margin-right: .5rem;
  font-size: 1.2rem;
}
nav .right-side button.btn{
  margin-left: 3rem;
}
nav .right-side button.btn i{
  margin-right: .5rem;
}
nav .right-side button.btn:hover{
  background: #034278;
}

/* Submenu CSS Starts */
#homeowners{
  position: relative;
}
#homeowners-submenu{
  position: absolute;
  top: 2.5rem;
  right: 0;
  cursor:default;
}
#homeowners:hover .block{
  display: block;
}
.block{
  display: none;
}
#menu .submenu{
  display: flex;
  justify-content: space-between;
  width: 35rem;
  min-height: 20rem;
  border-radius: 1rem ;
  background: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  z-index: 99;
}

#menu .submenu .left{
  color: #023561;
  padding: 2rem;
  flex-basis: 50%;
}
#menu .submenu .right{
  background: #f2f2f2;
  flex-basis: 50%;
  padding: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  position: relative;
}
#menu .submenu .right h3{
  margin-top: 1rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
}
#menu .submenu .right p{
  margin-top: .5rem;
  color: var(--text);
  font-size: .8rem;
  font-weight: 300;
}
#menu .submenu .right a{
  display: block;
  margin-top: .5rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  transition: .3s;
}
#menu .submenu .right a:hover{
  color: #058aff;
}
#menu .submenu .right .watermark{
  position: absolute;
  bottom: -2.5rem;
  right: 50%;
  transform: translateX(50%);
}
#menu .submenu .right .watermark img{
  width: 180px;
  opacity: .1;
}
#menu .submenu .left .top-title h3{
  color: var(--text);
  font-size: 1rem;
  cursor: text;
  font-weight: 700; 
}
#menu .submenu .left .top-title p{
  margin-top: .5rem;
  color: var(--text);
  font-size: .8rem;
  font-weight: 300;
  cursor: text;
}
#menu .submenu .left .items{
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
  cursor: pointer;
}
#menu .submenu .left .items .text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  margin-left: 1rem;
}
#menu .submenu .left .items .text h3{
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700; 
}
#menu .submenu .left .items .text p{
  margin-top: .5rem;
  color: var(--text);
  font-size: .8rem;
  font-weight: 300;
}
#menu .submenu .left .items i{
  margin: 0;
  font-size: 1.2rem;
  color: var(--primary);
}

#members{
  position: relative !important;
}
#members-submenu{
  position: absolute;
  top: 2.5rem;
  right: 0;
  cursor: default;
}
#members:hover .block{
  display: block;
}

/* Submenu End */


/* Hero Section Starts */
#hero{
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
#hero .left-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  flex-basis: 50%;
}
#hero .left-side h1{
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--white);
}
#hero .left-side h1 span{
  color: #ffffff8c;
}
#hero .left-side p{
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
}
#hero .left-side .buttons .btn-primary{
  background: #17B26A;
  margin-right: 1rem;
}
#hero .left-side .buttons .btn-secondary{
  background: var(--white);
  color: var(--text);
}
#hero .left-side .job-post-count{
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  padding: .2rem;
  border-radius: 50px;
}
#hero .left-side .job-post-count h3{
  font-size: 1rem;
  font-weight: 600;
  padding: .4rem 1rem;
  display: inline-block;
  color: var(--white);
}
#hero .left-side .job-post-count i{
  color: var(--white);
  margin-right: .5rem;
}
#hero .left-side .job-post-count :first-child{
  background: var(--white);
  border-radius: 50px;
  color: var(--primary);
}

/* Left end */

/* Rightside Starts */
#hero .right-side{
  flex-basis: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
#hero .right-side .bg{
  position: absolute;
  bottom: -10rem;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
#hero .right-side img{
  position:relative;
  z-index: 1;
}
#hero .right-top{
  position: absolute;
  right: 10%;
  top: 20%;
}
.offers{
  display: flex;
  align-items: center !important;
}
.offers i{
  background: var(--white) !important;
  padding: .5rem;
  border-radius: 50%;
  transform: rotate(-45deg);
  color: var(--text);
  margin-right: .5rem;
}
.offers h3{
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}
.offers p{
  font-size: .7rem;
  font-weight: 400;
  color: #ffffffb1;
}
.verified-persons{
  margin-top: 1cqb;
  display: flex;
  gap: 1.5rem;
}
.verified-persons .fa-plus{
  font-size: 1.2rem;
  height: 4rem;
  width: 4rem;
  padding: 1.5rem;
  border-radius: 50%;
  background: var(--white);
}
.verified-persons .person-1{
  background: url(../images/plumber-with-his-arms-crossed\ 2.png) no-repeat top;
}
.verified-persons .person-2{
  background: url(https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat top;
}
.verified-persons .person{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  background-size: 5rem;
  background-color: #f8f8f8;
  position: relative;
}

.verified-persons .verified{
  position: absolute;
  bottom: -.4rem;
  right: 0;
  color: #0cc22e;
}
.verified-persons .verified i{
  font-size: 1.2rem;
}

/* End */


.welcome-msg{
  position: absolute;
  right: 10%;
  bottom: 25%;
  z-index: 9;
  padding: 2rem 1rem;
  background: #ffffff;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.492);
}
.welcome-msg .msg-top{
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
}
.welcome-msg .msg-top img{
  width: 1.9rem;
  height: 2.1rem;
  margin-right: 1rem;
}
.welcome-msg .msg-top h3{
  font-size: 1rem;
  color: var(--text);
}
.welcome-msg .msg-top p{
  font-size: .7rem;
  color: #c2c2c2;
}
.welcome-msg h2{
  background: #f0f9ff;
  padding: .8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.201);
}
.welcome-msg button{
  padding: .8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  background: var(--primary);
  color: var(--white);
}
/* Hero End */



/* Title for All */
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5rem auto 3rem auto;
  gap: 1rem;
}
.title .top{
  display: flex;
  justify-content: center;
}
.title .ready-services{
  display: flex;
  align-items: center;
  border: 1px solid rgb(161, 161, 161);
  padding: .2rem;
  border-radius: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
}
.title .ready-services h3{
  font-size: 1rem;
  font-weight: 600;
  padding: .4rem 1rem;
  display: inline-block;
  color: var(--text);
}
.title .ready-services i{
  color: var(--white);
  margin-right: .5rem;
}
.title .ready-services :first-child{
  background: rgb(241, 246, 253);
  border: 1px solid rgb(196, 218, 248);
  border-radius: 50px;
  color: var(--primary);
}
.title h2{
  font-size: 3.5rem;
  color: #012545;
}
.title p{
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
  color: #585858;
}
/* Title End */

/* How does it work Section Starts */
#how-does-it-work{
  margin-top: 8rem;
  position: relative;
}
#how-does-it-work .contents{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  margin-bottom: 3rem;
}
#how-does-it-work .content{
  height: 30rem;
  border-radius: .5rem;
  padding: 2rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#how-does-it-work .content .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 3rem;
  width: 3rem;
  border: 1px solid #ffffff4f;
  color: var(--primary);
  background: var(--white);
  border-radius: .3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.177);
}
#how-does-it-work .content h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
}
#how-does-it-work .content .text{
  font-size: 1rem;
}

#how-does-it-work .contents .content-1{
  position: relative;
  background: #F7F9FF;
}
#how-does-it-work .contents .welcome-msg{
  bottom: 2%;
  right: 0;
  width: 70%;
  transform: translate(-25%, 10%);
}
#how-does-it-work .contents .content-1 .img img{
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  width: 60%;
}
#how-does-it-work .contents .content-2{
  background: var(--primary);
}

#how-does-it-work .contents .content-3{
  background: #034B8A;
}
#how-does-it-work .content-2 .icon{
  color: var(--white);
  background: #034B8A;
}
#how-does-it-work .content-3 .icon{
  color: var(--white);
  background: var(--primary);
}
#how-does-it-work .content-2 h4,
#how-does-it-work .content-3 h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1rem;
}
#how-does-it-work .content-2 .text,
#how-does-it-work .content-3 .text{
  color: var(--white);
}
#how-does-it-work .content-2 .offers{
  margin-top: 5rem !important;
  margin-bottom: 1rem;
}
#how-does-it-work .content-2 .fa-chevron-right{
  transform: rotate(0deg);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  margin-left: 6vw;
  cursor: pointer;
}
.msg-1{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}
.conversation i{
  background: #fff;
  font-size: 2rem;
  padding: .5rem .7rem;
  border-radius: 50%;
  color: #c2c2c2;
}
.conversation h2{
  font-size: 1rem;
  color: var(--white);
}
.conversation p{
  margin-top: .5rem;
  font-size: 1rem;
  background: #ffffff;
  padding: .5rem 1rem;
  border-radius:0 .5rem .5rem .5rem;
  color: var(--text);
}
.msg-2 p{
  background: var(--primary);
  color: var(--white);
  border-radius: .5rem 0 .5rem .5rem;
}
/* End */


/* Top Category Section Starts */
#top-category{
  background: var(--linear);
  padding-bottom: 3rem;
}
#top-category .categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
#top-category .categories .item{
  display: flex;
  align-items: center;
  gap: .7rem;
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(29, 29, 29, 0.171);
  cursor: pointer;
  transition: all .5s ease;
}
#top-category .categories .item:hover{
  background: #f8f8f8;
}
#top-category .categories .item h3{
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text);
}
#top-category .categories .item i{
  font-size: 1.2rem;
  color: var(--text);
}
#top-category .button{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
#top-category button.btn{
  background: #0571cf !important;
  transition: .3s;
}
#top-category button.btn:hover{
  background: var(--primary) !important;
}
/* Top Category End */


/* Tradespeople Section Starts */
#tradespeople{
  margin-top: 3rem;
}
#tradespeople .big-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tradespeople .big-section .left-side{
  flex-basis: 50%;
  padding-right: 3rem;
}
#tradespeople .big-section .left-side .top-title h3{
  color: var(--text);
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: 700; 
  margin-bottom: 1rem;
}
#tradespeople .big-section .left-side .top-title p{
  margin-top: .5rem;
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 300;
  cursor: text;
  margin-bottom: 3rem;
}
#tradespeople .big-section .left-side .items{
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
  cursor: pointer;
}
#tradespeople .big-section .left-side .items .text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  margin-left: 1rem;
}
#tradespeople .big-section .left-side .items .text h3{
  color: var(--text);
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700; 
}
#tradespeople .big-section .left-side .items .text p{
  margin-top: .2rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 300;
}
#tradespeople .big-section .left-side .items i{
  background: var(--white);
  color: var(--primary);
  height: 2.5rem;
  width: 2.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.153);
}


#tradespeople .big-section .right-side{
  flex-basis: 50%;
  position: relative;
}

#tradespeople .big-section .right-side .img .bg img{
  position: absolute;
  top: 20%;
  right: 20%;
  width: 70%;
}
#tradespeople .big-section .right-side .img :nth-child(2){
  position: relative;
  width: 85%;
}
#tradespeople .big-section .right-side .shadow{
  position: absolute;
  bottom: -10%;
  right: 5%;
  z-index: 9;
  width: 100%;
}
.right-side .traders{
  position: absolute;
  bottom: 12%;
  left: 0;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 12rem;
  min-width: 16rem;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.091);
}
.right-side .traders .stars{
  display: flex;
  margin-bottom: .5rem;
}
.right-side .traders .stars i{
  color: #17B26A;
  padding: .4rem;
}
.right-side .traders .stars i:last-child{
  background-color: #17b26a21;
  border-radius: 50%;
}
.right-side .traders .user{
  display: flex;
}
.right-side .traders .user .profile{
  position: relative;
}
.right-side .traders .user .fa-circle-check{
  position: absolute;
  font-size: .7rem;
  bottom: 0;
  right: 25%;
  color: #0cc22e;
}
.right-side .traders .user .fa-user{
  padding: .5rem .6rem;
  font-size: 1.5rem;
  background: #f2f2f2;
  border-radius: 50%;
  margin-right: 1rem;
  color: var(--text);

}
.right-side .traders .user .details h3{
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}
.right-side .traders .user .details h4{
  font-size: .8rem;
  font-weight: 400;
  color: var(--text);
}
.right-side .traders h3{
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
}
.right-side .traders .job{
  display: flex;
  gap: .5rem;
}
.right-side .traders .job h4{
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
  padding: .5rem 1rem;
  background: #0571cf15;
  border: 1px solid var(--primary);
  border-radius: 20px;
}
.right-side .traders .job h4 i{
  font-size: 1rem;
  color: var(--primary);
}


/* Middle Section Starts */
#tradespeople .middle-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}
#tradespeople .middle-section .item{
  padding: 2rem;
  background: #F7F9FF;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.149);

}

#tradespeople .middle-section .item .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background: var(--white);
  color: var(--primary);
  font-size: 1.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.063);
  border-radius: .5rem;
  margin-bottom: 2rem;
}
#tradespeople .middle-section .item h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
}
#tradespeople .middle-section .item p{
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
}
#tradespeople .middle-section .item-4{
  grid-column: 1 / 3;
}

#tradespeople .middle-section .item-4{
  width: 100%;
  height: auto;
  padding: 3rem;
  background: #034B8A;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.149);
  background-image: url(../images/men-shadow.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:100%;
  position: relative;
}
#tradespeople .middle-section .item-4 h2{
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1.5rem;
}
#tradespeople .middle-section .item-4 p{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
}
#tradespeople .middle-section .item-4 p a{
  font-size: 1rem;
  font-weight: 800;
  color: var(--white);
}
#tradespeople .middle-section .item-4 button.btn{
margin-top: 2rem;
background: #17B26A;
}
#tradespeople .middle-section .img{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: right;
}
#tradespeople .middle-section img{
  width: 12vw;
}
#tradespeople .middle-section .item-5{
  min-height: 30rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
  background-image: linear-gradient( var(--primary), var(--primary), #00000000), url(../images/girl-working.png);
  padding: 3rem;
}
#tradespeople .middle-section .item-5 h2{
  margin-top: 3rem;
  color: var(--white);
}
#tradespeople .middle-section .item-5 p{
  color: var(--white);
}







/* animation section - all animation here */
